@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #8e44ad;
  --black: #222;
  --white: #fff;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--black);
  --box-shadow: 1px 1px 10px 1px rgb(29, 196, 29);
  --text-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: o;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--white);
}
section {
  padding: 3rem 5rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #333;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-evenly;
}
.header .logo {
  font-size: xx-large;
  color: rgb(6, 163, 111);
  text-decoration: none;
  font-weight: bold;
}

.header .navbar a {
  font-family: "Times New Roman", Times, serif;
  margin-left: 2rem;
  font-size: 1.7rem;
  color: var(--white);
  text-decoration: none;
  /* transition: 0.2s linear; */
}

.header .navbar a:hover {
  /* transition: 0.2s linear; */
  border-bottom: 3px solid rgb(6, 163, 111);
  color: rgb(73, 203, 64);
}
.header .icons i {
  font-size: 2rem;
  color: rgb(6, 163, 111);
  cursor: pointer;
  margin-right: 2rem;
}

.header .icons i:hover {
  color: rgb(29, 196, 29);
}


#menu-btn {
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
  display: none;
  transition: 0.2s linear;
}

.right-links .profile_change {
  color: #eee;
  border: 1px solid;
  padding: 1rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
}
.right-links .profile_change:hover {
  background-color: rgb(6, 163, 111);
  border: none;
}

.right-links .logout {
  /* margin-left: 20px; */
  color: #eee;
  
  background-color: rgb(6, 163, 111);
  padding: 1rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
  border: none;
}

.right-links .logout:hover {
  border: 1px solid;
  background-color: transparent ;
}
/* home section  */

.home {
  padding: 0;
}
.home .swiper-slide {
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 40rem;
}

.home .swiper-slide .content {
  width: 85rem;
  display: none;
}
.home .swiper-slide .content {
  display: inline-block;
}
.home .swiper-slide .content span {
  display: block;
  font-size: 2.2rem;
  color: var(--light-bg);
  padding-bottom: 1rem;
  animation: fadeIn 0.4s linear backwards 0.2s;
}
.home .swiper-slide .content h3 {
  font-size: 5vw;
  color: var(--white);
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 4px 4px rgb(131, 110, 56);
  padding: 1rem;
  animation: fadeIn 0.4s linear backwards 0.4s;
}
.home .swiper-slide .content .btn {
  animation: fadeIn 0.4s linear backwards 0.6s;
}

.home .swiper-slide-active .content {
  display: inline-block;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background-color: rgb(73, 203, 64);
  color: var(--white);
  font-size: 1.3rem;
  padding: 1rem 1rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 40px;
}
.btn:hover {
  background-color: rgb(6, 163, 111);
}

.home .swiper-button-next,
.home .swiper-button-prev {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
  height: 4rem;
  width: 4rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 400px;
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background-color: rgb(6, 163, 111);
  color: var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
}
.home .swiper-button-prev {
  right: inherit;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
}

/* services section  */

.heading {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--black);
}
.heading span {
  margin-left: 7px;
  color: rgb(29, 196, 29);
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  border-radius: 10px;
  padding: 3rem 2rem;
  text-align: center;
  transition: 0.3s linear;
  cursor: pointer;
  background-color: var(--light-bg);
}
.services .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  background-color: rgb(29, 196, 29);
  color: #fff;
}
.services .box-container .box h3 {
  color: rgb(109, 109, 91);
  font-size: 2rem;
  padding-top: 1rem;
}
.services .box-container .box p {
  font-size: 1rem;
  color: black;
  line-height: 1.8;
}
.services .box-container .box:hover {
  transform: scale(1.1);
}
/* home about */



.home-about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.home-about .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
}
.home-about .row .image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 1rem solid #333;
}

.home-about .content {
  padding: 2rem 3rem;

  flex: 1 1 41rem;
  background-color: rgba(234, 224, 224, 0.388);
}
.home-about .content h3 {
  font-size: 2.3rem;
  color: rgb(6, 163, 111);
}
.home-about .content p {
  line-height: 2rem;
  font-size: 1.2rem;
}

/* our gallery section start */
.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.gallery .box-container .box {
  position: relative;
  border: 1rem solid #333;
  border-radius: 0.5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery .box-container .box:hover img {
  transform: scale(1.1);
}
.gallery .box-container .box .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.gallery .box-container .box .icons {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  right: 0;
  background-color: #333;
  padding-top: 1rem;
}

.gallery .box-container .box .icons a {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}
.gallery .box-container .box .icons a:hover {
  color: rgb(29, 196, 29);
}

/* home .home-packages section  */
.home-packages {
  background-color: var(--light-bg);
}

.home-packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 2rem;
}

.home-packages .box-container .image {
  height: 20rem;
  overflow: hidden;
}
.home-packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}
.home-packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.home-packages .box-container .box:hover .image img {
  transform: scale(1.1);
}
.home-packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.home-packages .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}
.home-packages .box-container .box .content p {
  font-size: 1.2rem;
  color: var(--light-black);
  line-height: 1.7;
  padding: 0.5rem 0;
}

.home-packages .load-more {
  text-align: center;
  margin-top: 2rem;
}

/* home-offer */
.home-offer {
  text-align: center;
}
.home-offer .content {
  max-width: 50rem;
  margin: 0 auto;
}
.home-offer .content h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--black);
}
.home-offer .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 1;
  padding: 1rem 0;
}

/* footer for all pagess */
.footer {
  background: rgba(9, 9, 9, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.footer .box-container .box h3 {
  color: var(--white);
  font-size: 2rem;
  padding-bottom: 1rem;
}
.footer .box-container .box a {
  color: var(--light-bg);
  font-size: 20px;
  padding-bottom: 0.7rem;
  display: block;
  text-decoration: none;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: rgb(6, 163, 111);
  transition: 0.2s linear;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .copyright {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 0.1rem solid var(--light-bg);
  font-size: 25px;
  color: var(--white);
}
.footer .copyright a {
  color: rgb(6, 163, 111);
  text-decoration: none;
}

/* media queries */
@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 1073px) {
  .header {
    font-size: small;
  }
}
@media (max-width: 1073px) {
  .header {
    font-size: x-small;
  }
}

@media (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }
  .home .swiper-slide .content h3 {
    font-size: 6vw;
  }
  .right-links {
    font-size: small;
  }
}
@media (max-width: 982px) {
  .header {
    font-size: 20px;
  }
}

@media (max-width: 926px) {
  .header {
    font-size: 20px;
  }
  .header .logo {
    font-size: 40px;
  }

  .header .logo a {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    color: rgb(6, 163, 111);
    transition: 0.2s linear;
    display: inline-block;
  }
  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: var(--border);
    background-color: #333;

    padding: 2rem;
    transition: 0.3s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    border-radius: 0.5rem;
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    text-align: center;
    border-radius: 0.5rem;
  }

  .services .box-container .box img {
    width: 150px;
    height: 100px;
  }

  .home .swiper-slide .content h3 {
    font-size: 5vw;
  }
  .home .swiper-slide .content span {
    font-size: 3vw;
  }
  .home .swiper-slide .content .btn {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .icons {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

 

  .right-links {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .form-box {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .form-box {
    max-width: 60%;
  }
}

/* ... Your existing styles ... */

@media screen and (min-width: 768px) and (max-width: 952px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navbar a {
    margin: 10px 0;
  }

  .logo {
    font-size: 1.2em;
  }

  .right-links {
    flex-direction: column;
    align-items: center;
  }
}
